body{
  background-color: #404040;
}

#wrapper{
  background-color: gray;
  margin: auto;
  min-height: 80vh;
  width: 27%;
  min-width: 400px;
  border: 0.01vh solid black;
}

#display-area{
  background-color: white;
  border: 0.01vh solid black;
  height: 15vh;
  
}

#other {
  width: 100%;
}

.number{
  height: 9vh;
  width: 28.4%;
}

.function{
  height: 10vh;
  width: 45%;
}


button{
  margin: 2%;
}

#display{
  overflow-x: none;
  overflow-y: none;
  font-size: 4vh;
  font-family: 'Grandstander', helvetica, sans-serif;
}

