body{
  padding: 0;
  margin: 0;
  background-color: purple;
  color: white;
}

textarea{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
  width: 100vw;
  background-color: white;
  color: black;
}

#preview{
  border: 1px solid black;
}

#title{
  border-bottom: 0.1vh solid ;
  text-align: center;
  padding: 5vh;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  color: black;
}

li:before {
  list-style: square;
}
